.userBox {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userBox:hover span, .userBoxIsAuth:hover span {
  color: rgba(0, 0, 0, 0.6);
}

.userBox:hover .avatarBox, .userBoxIsAuth:hover .avatarBox{
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
}

.userBoxIsAuth {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: none;
}

.avatarBox {
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
  box-shadow: none;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.username {
  transform: translateY(-250%);
  font-size: 12px;
  margin-top: 6px;
  color: #000;
  display: none;
}

@media all and (min-width: 1024px) {
  .username {
    display: flex;
  }
}


@media screen and (max-width: 400px) {
  .avatarBox {
    width: 45px;
    height: 45px;
  }
}
